.poli-tooltip {
  padding:32px 32px 24px 32px;
  background-color:black;
  opacity: 0.9;
  position: fixed;
  right:10px;
  top:10px;
  z-index: 999999;
  display:none;
  color:white;
  max-width: 400px;
}

.poli-tooltip p {
  font-family:sans-serif !important;
  
  font-size:14px !important;
  position:relative;
  color: #D7CEC7 !important;
  border-radius: 3px;
}

.poli-bar {
  padding:0px 0px 10px 0px !important;
  margin: 0px 0px 24px 0px !important;
}

.poli-info {
  padding:0px 0px !important;
  margin: 0px 0px 12px 0px !important;
}

.poli-tooltip .poli-bar::after, .poli-tooltip .poli-bar::before {
  content: '';
  position: absolute;
  left: 0;
  bottom:3px;
  display: inline-block;
  height:3px;
}

.poli-tooltip .poli-bar::before {
  background-color:#141414;
  z-index:-2;
  width: 100%;
}

.poli-party-state {
  margin:0px 15px;
  color:#C09F80;
}

.poli-blue {
  color:#6b9ecc;
}

.poli-red { 
  color: #cc6b6b;
}

.poli-tooltip .poli-bar::after {
  background-color:#C09F80;
  z-index:-1;
  width:65%;
}

.poli-tooltip h2 {
  font-weight: 600 !important;
  font-family:sans-serif !important;
  font-size:16px !important;
  margin: 6px 0px 20px 0px !important;
  padding:0;
}

.poli-hover {
  padding:2px 5px;
  background-color:yellow;
  color:black;
  cursor:pointer;
}

.poli-hover:hover .poli-tooltip {
  display:inline;
}